<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>firk</title>
</head>
<body>
	<div id="box" align="center"></div>

<form>User Name:
    <input type="text" name="firstname" />
    <br/>Password:
    <input type="password" name="pwd" />
    <input type="submit" />
    <button type="button" id="cancel">Cancel</button>
</form>

<a id="login" href="#">Click to Login</a><br/>

<a id="alert" href="#">Click To Alert before and after opening form</a>
<script type="text/javascript">
	var win = window.openDialog("http://example.tld/zzz.xul", "dlg", "", "pizza", 6.98);
</script>
</body>
</html>